<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if error != null %}
        <p style = "color: red">{{error}}</p>
    {%endif%}
    {% if msg != null %}
        <p style = "color: brack">{{msg}}</p>
    {%endif%}
    <h3>マイページ</h3>
    <a href = "{{url_for('register_book')}}">図書登録</a><br>
    <a href = "{{url_for('book_list')}}">一覧表示</a><br>
    <a href = "{{url_for('book_delete')}}">図書削除</a><br>    
    <a href="{{url_for('logout')}}">ログアウト</a>
</body>
</html>